<div id="<%= dom_id custom_field %>">
  <p>
    <strong>Name:</strong>
    <%= custom_field.name %>
  </p>

  <p>
    <strong>Field type:</strong>
    <%= custom_field.field_type %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= custom_field.client_id %>
  </p>

</div>
