<% content_for :title, "Editing custom field" %>

<h1>Editing custom field</h1>

<%= render "form", custom_field: @custom_field %>

<br>

<div>
  <%= link_to "Show this custom field", @custom_field %> |
  <%= link_to "Back to custom fields", custom_fields_path %>
</div>
