<p style="color: green"><%= notice %></p>

<% content_for :title, "Custom fields" %>

<h1>Custom fields</h1>

<div id="custom_fields">
  <% @custom_fields.each do |custom_field| %>
    <%= render custom_field %>
    <p>
      <%= link_to "Show this custom field", custom_field %>
    </p>
  <% end %>
</div>

<%= link_to "New custom field", new_custom_field_path %>
