<% content_for :title, "New custom field" %>

<h1>New custom field</h1>

<%= render "form", custom_field: @custom_field %>

<br>

<div>
  <%= link_to "Back to custom fields", custom_fields_path %>
</div>
