<div id="<%= dom_id custom_field_value %>">
  <p>
    <strong>Value:</strong>
    <%= custom_field_value.value %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= custom_field_value.building_id %>
  </p>

  <p>
    <strong>Custom field:</strong>
    <%= custom_field_value.custom_field_id %>
  </p>

</div>
