<% content_for :title, "Editing custom field value" %>

<h1>Editing custom field value</h1>

<%= render "form", custom_field_value: @custom_field_value %>

<br>

<div>
  <%= link_to "Show this custom field value", @custom_field_value %> |
  <%= link_to "Back to custom field values", custom_field_values_path %>
</div>
