<p style="color: green"><%= notice %></p>

<% content_for :title, "Custom field values" %>

<h1>Custom field values</h1>

<div id="custom_field_values">
  <% @custom_field_values.each do |custom_field_value| %>
    <%= render custom_field_value %>
    <p>
      <%= link_to "Show this custom field value", custom_field_value %>
    </p>
  <% end %>
</div>

<%= link_to "New custom field value", new_custom_field_value_path %>
