<% content_for :title, "New custom field value" %>

<h1>New custom field value</h1>

<%= render "form", custom_field_value: @custom_field_value %>

<br>

<div>
  <%= link_to "Back to custom field values", custom_field_values_path %>
</div>
