<div id="<%= dom_id custom_field_option %>">
  <p>
    <strong>Value:</strong>
    <%= custom_field_option.value %>
  </p>

  <p>
    <strong>Custom field:</strong>
    <%= custom_field_option.custom_field_id %>
  </p>

</div>
