<p style="color: green"><%= notice %></p>

<% content_for :title, "Custom field options" %>

<h1>Custom field options</h1>

<div id="custom_field_options">
  <% @custom_field_options.each do |custom_field_option| %>
    <%= render custom_field_option %>
    <p>
      <%= link_to "Show this custom field option", custom_field_option %>
    </p>
  <% end %>
</div>

<%= link_to "New custom field option", new_custom_field_option_path %>
