<% content_for :title, "New custom field option" %>

<h1>New custom field option</h1>

<%= render "form", custom_field_option: @custom_field_option %>

<br>

<div>
  <%= link_to "Back to custom field options", custom_field_options_path %>
</div>
